streamlit
groq
langchain
langchain_groq
google-search-results
langchain_community
crewai_tools
pysqlite3-binary
crewai
duckduckgo-search
langchain-openai
pydantic-ai
pydantic-ai-slim[groq]
google-genai